<!DOCTYPE html>
{% load static %}
<html lang="zh-cmn-Hans" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <meta name="wechat-enable-text-zoom-em" content="true">
    <link rel="stylesheet" href="{% static 'style/weui.css' %}"/>
  <title>欢迎进入淼赞文化</title>

</head>
<body>
    <div class="container" id="container">
        <div class="page article">
            <article class="weui-article">
                <section style="margin-bottom: 8px;">
                    <p style="text-align: center;">
                        <img src="{% static '../images/线上游戏首页图.jpg' %}" alt="线上游戏首页图">
                    </p>
                </section>
            </article>
        </div>
        <div class="weui-form">
            <form method="post" class="weui-cells__group weui-cells__group_form" id="login_form">
                <div class="weui-form__text-area">
                    <h2 class="weui-form__title">
                    请使用收到的账号和密码登录
                    </h2>
                </div>
                {% csrf_token %}
                <label for="id_username" class="weui-cell weui-cell_active">
                    <div class="weui-cell__hd"><span class="weui-label">
                        用户名
                    </span></div>
                    <div class="weui-cell__bd">
                        <input type="text" class="weui-input" name="username" autofocus="" autocapitalize="none"
                        autocomplete="off" required="" id="id_username"
                        class="form-control" placeholder="用户名">
                    </div>
                </label>
                <label for="id_password" class="weui-cell weui-cell_active">
                    <div class="weui-cell__hd"><span class="weui-label">
                        密码
                    </span></div>
                    <div class="weui-cell__bd">
                        <input type="password" class="weui-input" placeholder="" name="password"
                                autocomplete="off" required="" id="id_password">
                    </div>
                </label>
                <hr>
                <div class="weui-form__opr-area">

                    <button type="submit" role="button" class="weui-btn weui-btn_primary">登录</button>

                </div>
                <div class="page__bd page__bd_spacing" style="height:200px">
                    
                </div>
            </form>
        </div>
    </div>

    <script src="{% static 'js/zepto.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jweixin-1.0.0.js' %}"></script>
    <script src="{% static 'js/weui.min.js' %}"></script>
    <script src="{% static 'js/example.js' %}"></script>
    <script src="{% static 'js/wah.js' %}"></script>
</body>
</html>