asgiref
Django<5
powerline-status
pytz
sqlparse
urllib3
certifi
requests
tzdata
# psycopg2-binary==2.9.1
psycopg2-binary
requests_oauthlib
django-jazzmin
django-cors-headers
sqlalchemy<2.0.0
openai
cryptography
