<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}玩家列表{% endblock title %}

{% block header_title %}控制台{% endblock header_title%}
{% block nav_menu_list_user %}
<li><a href="/summary/list_user/{{appid}}/">玩家列表</a></li>
{% endblock nav_menu_list_user %}
{% block nav_menu_list_image %}
<li><a href="/summary/images/{{appid}}/">图片资源</a></li>
{% endblock nav_menu_list_image %}

{% block content %}


<section class="wrapper">
	<h3><i class="fa fa-user"></i> 玩家游戏档案列表（共{{total_count}}份）</h3>

		<a class="btn btn-primary" href="/summary/"><i class="fa fa-backward"></i>返回</a>
		{% for app_game in game_list %}
			{% if app_game.name == game_name %}
			<p class="btn btn-theme"><i class="fa fa-angle-double-right"></i>{{app_game.name}}</p>
			{% elif app_game.is_active %}
			<a class="btn btn-theme02" href="/summary/list_user/{{appid}}/{{app_game.name}}/"><i class="fa fa-tasks"></i>{{app_game.name}}</a>
			{% else %}
			<a class="btn btn-theme04" href="/summary/list_user/{{appid}}/{{app_game.name}}/"><i class="fa fa-tasks"></i>{{app_game.name}}</a>
			{% endif %}
		{% endfor %}
		{% for user_list in all_list %}
		<div class="row">
			{% for user in user_list %}
			<div class="col-md-4 mb">
				<div class="white-panel pn">
					<div class="white-header">
						<h3><a target="_blank" href="/admin/wxcloudrun/wechatplayer/{{user.open_id}}/change/">{{ user.user_id }}</a></h3>
					</div>
				
					<div class="row">
						<div class="col-md-2">
							<p class="large mt">总步数</p>
							<h3>{{ user.transmit_count }}</h3>
						</div>
						<div class="col-md-2">
							<p class="large mt">进入关卡数</p>
							<h3>{{user.quests_num}}</h3>
						</div>
						<div class="col-md-2">
							<p class="large mt">已获得奖励数</p>
							<h3>{{user.rewards_num}}</h3>
						</div>
						<div class="col-md-2">
							<p class="large mt">当前进度</p>
							<h5>{{user.cur_process}}</h5>
						</div>
						<div class="col-md-2">
							<p class="large mt">是否通关</p>
							{% if user.is_passed %}
								<h3><a target="_blank" href="/admin/wxcloudrun/wechatplayer/{{user.open_id}}/change/">是</a></h3>
							{% else %}
								<h3><a style="color:#f00" target="_blank" href="/admin/wxcloudrun/wechatplayer/{{user.open_id}}/change/">否</a></h3>
							{% endif %}

						</div>
					</div>
            	</div>
			</div>
			{% endfor %}

		</div>
		{% endfor %}


	<a class="btn btn-primary" href="/summary/"><i class="fa fa-fast-backward"></i>返回总览</a>

</section>


{% endblock %}