<ul class="sidebar-menu" id="nav-accordion">
    <h5 class="centered">目录</h5>
    <li class="sub-menu dcjq-parent-li">
        <a href="javascript:;" class="dcjq-parent">
        <i class="fa fa-dashboard"></i>
        <span>玩家管理</span></a>
        <span class="dcjq-icon"></span></a>
        <ul class="sub" style="display: none;">
            <li><a href="/summary/">玩家概览</a></li>
            <li><a href="/summary/">玩家详情</a></li>
        </ul>
    </li>
    <li class="sub-menu dcjq-parent-li">
        <a href="javascript:;" class="dcjq-parent">
        <i class="fa fa-desktop"></i>
        <span>资源管理</span>
        <span class="dcjq-icon"></span></a>
        <ul class="sub" style="display: none;">
            <li><a href="?appid={{aped}}">资源概览</a></li>
            <li><a href="buttons.html">更新视频资源</a></li>
            <li><a href="panels.html">更新图片资源</a></li>
        </ul>
    </li>
</ul>