<!DOCTYPE html>
{% load static %}
<html lang="zh-cmn-Hans" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <meta name="wechat-enable-text-zoom-em" content="true">
    <meta name="color-scheme" content="light dark">
    <title>{{ quest_trigger }}</title>
    <link rel="stylesheet" href="{% static 'style/weui.css' %}"/>
    <title>淼赞文化-{{ cur_game_name }}</title>
</head>
<body ontouchstart>
    <script type="text/javascript">
      if(window.__wxWebEnv){
        document.body.style.webkitTextSizeAdjust = JSON.parse(window.__wxWebEnv.getEnv()).fontScale + '%';
      }

    </script>

<div id="container" >
    {% if notify_msg|length > 0 %}
        <div role="alert" class="weui-toptips weui-toptips_notify" id="notifyTips"
            style="display: block; opacity: 1;">{{notify_msg}}</div>
    {% elif error_msg|length > 0 %}
        <div role="alert" class="weui-toptips weui-toptips_warn" id="errorTips"
            style="display: block; opacity: 1;">{{error_msg}}</div>
    {% endif %}

    <div class="article">
        <article class="weui-article">
            <section style="margin-bottom: 8px;">
                <p style="text-align: center;">
                    <img src="{{ home_server }}images/{{ cur_game_name }}.jpg">
                </p>
            </section>
            <h2 class="weui-form__title">
                {% comment %} {% if page_type == "password" %}
                请输入密码
                {% else %}
                开始挑战
                {% endif %} {% endcomment %}
            </h2>
            <section>
                {{ reply_obj|safe }}
            </section>
        </article>
        
        <div class="weui-form" style="padding-bottom:100px">
            <div class="weui-form__bd">
                <div class="weui-form__text-area">
                    
                </div>
                <div class="weui-form__control-area">
                    <form class="weui-cells__group weui-cells__group_form" method="post" action="/game/" id="form_question">
                        <input type="hidden" name="game_name" value="{{ cur_game_name }}">
                        <input type="hidden" name="app_en_name" value="{{ app_en_name }}">
                        {% csrf_token %}
                    {% if page_type == "quest" or page_type == "main" or page_type == "password" %}
                        {% if reply_options|length > 0 %}
                        <div class="weui-cells__title"></div>
                        <div class="weui-cells">
                            {% for option in reply_options %}
                            <a aria-labelledby="js_cell_tl2_tips js_cell_tl2_link" class="{{ option.style }}" 
                            {% if option.enable %}
                                    href="javascript:" onClick="option_click('{{option.trigger}}');">
                                    <!-- href="/game/?game_name={{cur_game_name}}&app_en_name={{app_en_name}}&cmd={{option.trigger}}"> -->
                                {% else %}
                                    href="javascript:">
                                {% endif %}
                                <span class="weui-cell__bd" id="{{option.trigger}}">
                                    <span>{{option.trigger}}</span>
                                </span>
                                <span class="weui-cell__ft">
                                    {{ option.comment }}
                                </span>
                            </a>
                            {% endfor %}
                        {% else %}
                        <div class="weui-cells__title"></div>
                        <div class="weui-cells">
                            <label for="js_input" class="weui-cell weui-cell_active">
                                <div class="weui-cell__hd"><span class="weui-label">
                                    {% if page_type == "password" %}
                                    密码：
                                    {% elif page_type == "ending" %}
                                    <div></div>
                                    {% else %}
                                    答案是
                                    {% endif %}
                                </span></div>
                                <div class="weui-cell__bd">
                                    {% if page_type == "password" %}
                                    <input id="js_input" name="cmd" class="weui-input" type="tel" pattern="[0-9]{6}" placeholder="请输入密码"/>

                                    {% elif page_type == "ending" %}
                                    <div></div>
                                    {% else %}
                                    <input id="js_input" name="cmd" class="weui-input" placeholder="请把你的答案写在这里"/>
                                    {% endif %}

                                </div>
                            </label>
                            <br>
                            <div class="weui-form__opr-area">
                                <a type="submit" role="button" disabled aria-disabled="true" id="btnConfirm" href="javascript:"
                                class="weui-btn weui-btn_primary weui-btn_disabled">确定</a>
                            </div>
                        {% endif %}
                        </div>
                    {% endif %}
                    </form>
                </div><!-- end weui-form__control-area -->
            </div><!-- end weui-form__bd -->
        </div><!-- end weui-form -->
    </div><!-- end article -->
</div> <!-- end container -->
<div id="bottom-menu" style="position: fixed; bottom: 0; width: 100%;">
    <div role="tablist" aria-label="菜单" class="weui-tabbar">
        {% if hint_string|length > 0 and page_type == "quest" %}
        <div id='showIOSDialog_hint' role="tab" aria-labelledby="t1_title" aria-describedby="t1_tips" aria-selected="true" aria-controls="panel1" class="weui-tabbar__item weui-bar__item_on" wah-hotarea="click">
            <div id="t1_tips" aria-hidden="true" style="display: inline-block; position: relative;">
                <img src="{% static 'images/icon_tips.png' %}" alt="" class="weui-tabbar__icon">
            </div>
            <p aria-hidden="true" class="weui-tabbar__label" style="font-size:20px">提示</p>
        </div>
        {% endif %}
        {% if clear_code|length > 0 %}
        <div id="showClearCode" role="tab" aria-labelledby="t2_title" aria-selected="false" aria-controls="panel2" class="weui-tabbar__item" wah-hotarea="click">
            <div id="t2_tips" aria-hidden="true" style="display: inline-block; position: relative;">
                <img src="{% static 'images/icon_passed.png' %}" alt="" class="weui-tabbar__icon">
            </div>
        <p aria-hidden="true" class="weui-tabbar__label"  style="font-size:20px">通关码</p>
        </div>
        {% endif %}
        <div id="showGoBack" role="tab" aria-labelledby="t3_title" aria-describedby="t3_tips" aria-selected="false" aria-controls="panel3" class="weui-tabbar__item" wah-hotarea="click">
            <div id="t3_tips" aria-hidden="true" style="display: inline-block; position: relative;">
                <img src="{% static 'images/icon_backward.png' %}" alt="" class="weui-tabbar__icon">
            </div>
            <p aria-hidden="true" class="weui-tabbar__label" style="font-size:20px">返回起点</p>
        </div>
        <div id="show_logout" role="tab" aria-labelledby="t4_title" aria-selected="false" aria-controls="panel4" class="weui-tabbar__item" wah-hotarea="click">
            <div id="t4_tips" aria-hidden="true" style="display: inline-block; position: relative;">
                <img src="{% static 'images/icon_logout.png' %}" alt="" class="weui-tabbar__icon">
            </div>
            <p class="weui-tabbar__label" aria-hidden="true" style="font-size:20px">退出</p>
        </div>
    </div>
</div> <!-- end bottom-menu -->
<div id="popups">
    <!-- 游戏提示对话框 -->
    <div id="dialog_hint">
        <div class="js_dialog_hint" role="dialog"  aria-hidden="true" aria-modal="true"
            aria-labelledby="js_title1" id="iosDialog_hint" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd"><strong class="weui-dialog__title" id="js_title1" >提示</strong></div>
                <div class="weui-dialog__bd" id="notice">{{hint_string|safe}}</div>
                <div class="weui-dialog__ft">
                    <a role="button" href="javascript:" class="weui-dialog__btn weui-dialog__btn_default"
                    id="confirm_hint">确定</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 游戏进度对话框 -->
    <div id="dialog_progress">
        <div class="js_dialog_progress" role="dialog"  aria-hidden="true" aria-modal="true"
            aria-labelledby="js_title2" id="iosDialog_progress" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd"><strong class="weui-dialog__title" id="js_title2">目前进展</strong></div>
                <div class="weui-dialog__bd" id="notice_progress">{{progress}}</div>
                <div class="weui-dialog__ft">
                    <a role="button" href="javascript:" class="weui-dialog__btn weui-dialog__btn_default"
                    id="confirm_progress">确定</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 返回对话框 -->
    <div id="dialog_go_back">
        <div class="js_dialog_go_back" role="dialog"  aria-hidden="true" aria-modal="true"
            aria-labelledby="js_title3" id="iosDialog_go_back" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd"><strong class="weui-dialog__title" id="js_go_back">确认</strong></div>
                <div class="weui-dialog__bd" id="notice_wrong_answer">确认回到游戏起点吗？</div>
                <div class="weui-dialog__ft">

                    <a role="button" href="javascript:" class="weui-dialog__btn weui-dialog__btn_default"
                    id="cancle">取消</a>
                    <a role="button" href="javascript:" class="weui-dialog__btn weui-dialog__btn_primary"
                    id="confirm_go_back">确认</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 通关码 -->
    <div id="dialog_clear">
        <div class="js_dialog_clear" role="dialog"  aria-hidden="true" aria-modal="true"
            aria-labelledby="js_title4" id="iosDialog_clear" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd"><strong class="weui-dialog__title" id="js_title4">您的通关码</strong></div>
                <div class="weui-dialog__bd" id="notice_dialog_clear">{{clear_code}}</div>
                <div class="weui-dialog__ft">
                    <a role="button" href="javascript:" class="weui-dialog__btn weui-dialog__btn_default"
                    id="confirm_dialog_clear">确定</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 切换游戏对话框 -->
    <div class="weui-cells">
        <div id="dialog_logout">
            <div class="js_dialog_logout" role="dialog"  aria-hidden="true" aria-modal="true"
                aria-labelledby="js_title1" id="iosDialog_logout" style="display: none;">
                <div class="weui-mask"></div>
                <div class="weui-dialog">
                    <div class="weui-dialog__hd"><strong class="weui-dialog__title" id="js_logout">确认</strong></div>
                    <div class="weui-dialog__bd" id="notice_logout">确认要退出当前账号吗？</div>
                    <div class="weui-dialog__ft">

                        <a role="button" href="javascript:" class="weui-dialog__btn weui-dialog__btn_default"
                        id="cancle_logout">取消</a>
                        <a role="button" href="javascript:" class="weui-dialog__btn weui-dialog__btn_primary"
                        id="confirm_logout">确认</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 加载中 -->
    <div role="alert" id="loadingToast" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <span class="weui-primary-loading weui-icon_toast">
            <span class="weui-primary-loading__dot"></span>
            </span>
            <p class="weui-toast__content">载入中</p>
        </div>
    </div>
</div> <!-- end popups -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
<script class="preview_image">
    window.onload = function(){
      imageInit();
    }
</script>
<script class="show_dialog_functions">
    function show_dialog(dialog, Dialog_div, cmd_value=null){
        // dialog: 要显示的对话框
        // Dialog_div: 对话框的容器
        // my_form: 页面表单
        // cmd: 表单提交时附带的cmd属性值
        dialog.fadeIn(200);
        dialog.attr('aria-hidden','false');
        dialog.attr('tabindex','0');
        dialog.trigger('focus');
        Dialog_div.on('click', '.weui-dialog__btn_default', function(){
            // 点击取消按钮
            dialog.fadeOut(200);
            dialog.attr('aria-hidden','true');
            dialog.removeAttr('tabindex');
        });
        Dialog_div.on('click', '.weui-dialog__btn_primary', function(){
            // 如果有确定按钮并被点击
            var my_form=$('#form_question');
            var $input = $('#js_input');
            if ($input.length == 0) {
                $input = $('<input type="hidden" name="cmd" id="js_input">');
            }
            $input.val(cmd_value);
            // add $input into form
            my_form.append($input);
            dialog.fadeOut(200);
            dialog.attr('aria-hidden','true');
            dialog.removeAttr('tabindex');
            my_form.submit();
        });
    }

    var my_form = $('#form_question');
    // 游戏提示对话框
    var Dialog_hint = $('#iosDialog_hint');
    var Dialog_hint_div = $('#dialog_hint');
    $('#showIOSDialog_hint').on('click', function(){
        show_dialog(Dialog_hint, Dialog_hint_div);
    });

    // 通关码对话框
    var Dialog_ClearCode = $('#iosDialog_clear');
    var Dialog_ClearCode_div = $('#dialog_clear');
    $('#showClearCode').on('click', function(){
        show_dialog(Dialog_ClearCode, Dialog_ClearCode_div);
    });

    // 重新开始对话框
    var Dialog_go_back = $('#iosDialog_go_back');
    var Dialog_go_back_div = $('#dialog_go_back');
    $('#showGoBack').on('click', function(){
        show_dialog(Dialog_go_back, Dialog_go_back_div, 'init');
    });

    // 退出登录对话框
    var Dialog_logout = $('#iosDialog_logout');
    var Dialog_logout_div = $('#dialog_logout');
    $('#show_logout').on('click', function(){
        show_dialog(Dialog_logout, Dialog_logout_div, 'logout');
    });
</script>  
<script class="confirm_button">
   // 验证输入框是否为空，为空则禁用确定按钮
   var $input = $('#js_input');
   $input.on('input', function(){
   if ($input.val()){
       $('#btnConfirm').removeClass('weui-btn_disabled');
       $('#btnConfirm').attr('aria-disabled','false');
       $('#btnConfirm').removeAttr('disabled');
   }else{
       $('#btnConfirm').addClass('weui-btn_disabled');
       $('#btnConfirm').attr('aria-disabled','true');
       $('#btnConfirm').addAttr('disabled');
   }
   });

   // 点击确定按钮的操作
   $('#btnConfirm').on('click', function(){
        if ($(this).hasClass('weui-btn_disabled')) return;
        var $loadingToast = $('#loadingToast');
        if ($loadingToast.css('display') != 'none') return;
        $loadingToast.fadeIn(100);
        setTimeout(function () {
            $loadingToast.fadeOut(100);
        }, 2000);
        //my_form.cmd.value=$input.val();
        my_form.submit();
        //globalThis.location='/game/?game_name={{cur_game_name}}&app_en_name={{app_en_name}}&cmd='+$input.val();

   });
   


</script>
<script src="{% static 'js/zepto.min.js' %}"></script>
<script src="{% static 'js/jweixin-1.4.0.js' %}"></script>
<script src="{% static 'js/weui.min.js' %}"></script>
<script src="{% static 'js/wah.js' %}"></script>

</body>
</html>