<!DOCTYPE html>
{% load static %}
<html lang="zh-cmn-Hans" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <meta name="wechat-enable-text-zoom-em" content="true">
    <meta name="color-scheme" content="light dark">
    <title>{{ quest_trigger }}</title>
    <link rel="stylesheet" href="{% static 'style/weui.css' %}"/>
    <link rel="stylesheet" href="{% static 'style/example.css' %}"/>
    <title>淼赞文化-{{ cur_game_name }}</title>
</head>
<body ontouchstart>
    <script type="text/javascript">
      if(window.__wxWebEnv){
        document.body.style.webkitTextSizeAdjust = JSON.parse(window.__wxWebEnv.getEnv()).fontScale + '%';
      }

    </script>

<div id="container" >
    {% if notify_msg|length > 0 %}
        <div role="alert" class="weui-toptips weui-toptips_notify" id="notifyTips"
            style="display: block; opacity: 1;">{{notify_msg}}</div>
    {% elif error_msg|length > 0 %}
        <div role="alert" class="weui-toptips weui-toptips_warn" id="errorTips"
            style="display: block; opacity: 1;">{{error_msg}}</div>
    {% endif %}

    <div class="article">
        <article class="weui-article">
            <section style="margin-bottom: 8px;">
                <p style="text-align: center;">
                    <img src="{{ home_server }}images/{{ cur_game_name }}.jpg">
                </p>
            </section>
            <h2 class="weui-form__title">
                {% comment %} {% if page_type == "password" %}
                请输入密码
                {% else %}
                开始挑战
                {% endif %} {% endcomment %}
            </h2>
            <section>
                {{ reply_obj|safe }}
            </section>
        </article>
        
        <div class="weui-form" style="padding-bottom:100px">
            <div class="weui-form__bd">
                <div class="weui-form__text-area">
                    
                </div>
                <div class="weui-form__control-area">
                    <form class="weui-cells__group weui-cells__group_form" action="/game/" >
                    {% if page_type == "quest" or page_type == "main" or page_type == "password" %}
                        {% if reply_options|length > 0 %}
                        <div class="weui-cells__title">请选择</div>
                        <div class="weui-cells">
                            {% for option in reply_options %}
                            <a aria-labelledby="js_cell_tl2_tips js_cell_tl2_link" class="{{ option.style }}"
                            {% if option.enable %}
                                    href="/game/?game_name={{cur_game_name}}&app_en_name={{app_en_name}}&cmd={{option.trigger}}">
                                {% else %}
                                    href="javascript:">
                                {% endif %}
                                <span class="weui-cell__bd" id="{{option.trigger}}">
                                    <span>{{option.trigger}}</span>
                                </span>
                                <span class="weui-cell__ft">
                                    {{ option.comment }}
                                </span>
                            </a>
                            {% endfor %}
                        {% else %}
                        <div class="weui-cells__title">轮到你来回答啦</div>
                        <div class="weui-cells">
                            <label for="js_input" class="weui-cell weui-cell_active">
                                <div class="weui-cell__hd"><span class="weui-label">
                                    {% if page_type == "password" %}
                                    密码：
                                    {% elif page_type == "ending" %}
                                    <div></div>
                                    {% else %}
                                    答案是
                                    {% endif %}
                                </span></div>
                                <div class="weui-cell__bd">
                                    {% if page_type == "password" %}
                                    <input id="js_input" class="weui-input" type="tel" pattern="[0-9]{6}" placeholder="请输入密码"/>

                                    {% elif page_type == "ending" %}
                                    <div></div>
                                    {% else %}
                                    <input id="js_input" class="weui-input" placeholder="请把你的答案写在这里"/>
                                    {% endif %}

                                </div>
                            </label>
                            <br>
                            <div class="weui-form__opr-area">
                                <a role="button" disabled aria-disabled="true" href="javascript:" id="btnConfirm"
                                class="weui-btn weui-btn_primary weui-btn_disabled">确定</a>
                            </div>
                        {% endif %}
                        </div>
                    {% endif %}
                    </form>
                </div><!-- end weui-form__control-area -->
            </div><!-- end weui-form__bd -->
        </div><!-- end weui-form -->
    </div><!-- end article -->
</div> <!-- end container -->
<div id="bottom-menu" style="position: fixed; bottom: 0; width: 100%;">
    <div role="tablist" aria-label="菜单" class="weui-tabbar">
        {% if hint_string|length > 0 and page_type == "quest" %}
        <div id='showIOSDialog_hint' role="tab" aria-labelledby="t1_title" aria-describedby="t1_tips" aria-selected="true" aria-controls="panel1" class="weui-tabbar__item weui-bar__item_on" wah-hotarea="click">
            <div id="t1_tips" aria-hidden="true" style="display: inline-block; position: relative;">
                <img src="{% static 'images/icon_tips.png' %}" alt="" class="weui-tabbar__icon">
            </div>
            <p aria-hidden="true" class="weui-tabbar__label" style="font-size:20px">提示</p>
        </div>
        {% endif %}
        {% if clear_code|length > 0 %}
        <div id="showClearCode" role="tab" aria-labelledby="t2_title" aria-selected="false" aria-controls="panel2" class="weui-tabbar__item" wah-hotarea="click">
            <div id="t2_tips" aria-hidden="true" style="display: inline-block; position: relative;">
                <img src="{% static 'images/icon_passed.png' %}" alt="" class="weui-tabbar__icon">
            </div>
        <p aria-hidden="true" class="weui-tabbar__label"  style="font-size:20px">通关码</p>
        </div>
        {% endif %}
        <div id="showGoBack" role="tab" aria-labelledby="t3_title" aria-describedby="t3_tips" aria-selected="false" aria-controls="panel3" class="weui-tabbar__item" wah-hotarea="click">
            <div id="t3_tips" aria-hidden="true" style="display: inline-block; position: relative;">
                <img src="{% static 'images/icon_backward.png' %}" alt="" class="weui-tabbar__icon">
            </div>
            <p aria-hidden="true" class="weui-tabbar__label" style="font-size:20px">返回起点</p>
        </div>
        <div id="show_logout" role="tab" aria-labelledby="t4_title" aria-selected="false" aria-controls="panel4" class="weui-tabbar__item" wah-hotarea="click">
            <div id="t4_tips" aria-hidden="true" style="display: inline-block; position: relative;">
                <img src="{% static 'images/icon_logout.png' %}" alt="" class="weui-tabbar__icon">
            </div>
            <p class="weui-tabbar__label" aria-hidden="true" style="font-size:20px">退出</p>
        </div>
    </div>
</div> <!-- end bottom-menu -->
<div id="popups">
    <!-- 游戏提示对话框 -->
    <div id="dialog_hint">
        <div class="js_dialog_hint" role="dialog"  aria-hidden="true" aria-modal="true"
            aria-labelledby="js_title1" id="iosDialog_hint" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd"><strong class="weui-dialog__title" id="js_title1" >提示</strong></div>
                <div class="weui-dialog__bd" id="notice">{{hint_string|safe}}</div>
                <div class="weui-dialog__ft">
                    <a role="button" href="javascript:" class="weui-dialog__btn weui-dialog__btn_default"
                    id="confirm_hint">确定</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 游戏进度对话框 -->
    <div id="dialog_progress">
        <div class="js_dialog_progress" role="dialog"  aria-hidden="true" aria-modal="true"
            aria-labelledby="js_title2" id="iosDialog_progress" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd"><strong class="weui-dialog__title" id="js_title2">目前进展</strong></div>
                <div class="weui-dialog__bd" id="notice_progress">{{progress}}</div>
                <div class="weui-dialog__ft">
                    <a role="button" href="javascript:" class="weui-dialog__btn weui-dialog__btn_default"
                    id="confirm_progress">确定</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 返回对话框 -->
    <div id="dialog_go_back">
        <div class="js_dialog_go_back" role="dialog"  aria-hidden="true" aria-modal="true"
            aria-labelledby="js_title3" id="iosDialog_go_back" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd"><strong class="weui-dialog__title" id="js_go_back">确认</strong></div>
                <div class="weui-dialog__bd" id="notice_wrong_answer">确认回到游戏起点吗？</div>
                <div class="weui-dialog__ft">

                    <a role="button" href="javascript:" class="weui-dialog__btn weui-dialog__btn_default"
                    id="cancle">取消</a>
                    <a role="button" href="javascript:" class="weui-dialog__btn weui-dialog__btn_primary"
                    id="confirm_go_back">确认</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 通关码 -->
    <div id="dialog_clear">
        <div class="js_dialog_clear" role="dialog"  aria-hidden="true" aria-modal="true"
            aria-labelledby="js_title4" id="iosDialog_clear" style="display: none;">
            <div class="weui-mask"></div>
            <div class="weui-dialog">
                <div class="weui-dialog__hd"><strong class="weui-dialog__title" id="js_title4">您的通关码</strong></div>
                <div class="weui-dialog__bd" id="notice_dialog_clear">{{clear_code}}</div>
                <div class="weui-dialog__ft">
                    <a role="button" href="javascript:" class="weui-dialog__btn weui-dialog__btn_default"
                    id="confirm_dialog_clear">确定</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 切换游戏对话框 -->
    <div class="weui-cells">
        <div id="dialog_logout">
            <div class="js_dialog_logout" role="dialog"  aria-hidden="true" aria-modal="true"
                aria-labelledby="js_title1" id="iosDialog_logout" style="display: none;">
                <div class="weui-mask"></div>
                <div class="weui-dialog">
                    <div class="weui-dialog__hd"><strong class="weui-dialog__title" id="js_logout">确认</strong></div>
                    <div class="weui-dialog__bd" id="notice_logout">确认要退出当前账号吗？</div>
                    <div class="weui-dialog__ft">

                        <a role="button" href="javascript:" class="weui-dialog__btn weui-dialog__btn_default"
                        id="cancle_logout">取消</a>
                        <a role="button" href="javascript:" class="weui-dialog__btn weui-dialog__btn_primary"
                        id="confirm_logout">确认</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 加载中 -->
    <div role="alert" id="loadingToast" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <span class="weui-primary-loading weui-icon_toast">
            <span class="weui-primary-loading__dot"></span>
            </span>
            <p class="weui-toast__content">载入中</p>
        </div>
    </div>
</div> <!-- end popups -->
<script src="{% static 'js/jquery.min.js' %}"></script>

<script>
    function imageInit(){
      
      var imgList = [];
      // 获取容器内所有的img元素
      var imgObjs = $(".game_img");
      // 遍历img元素
      for(var i=0; i<imgObjs.length; i++){
        imgList.push(imgObjs.eq(i).attr('src'));
        // 给img元素添加点击事件
        imgObjs.eq(i).click(function(){
          var imgUrl = $(this).attr('src');
          wx.previewImage({
            current: imgUrl , // 当前显示图片的http链接
            urls: imgList     // 需要预览的图片http链接列表
          });
        });
      }
    }
    
    window.onload = function(){
      imageInit();
    }
</script>
<script>
    $(function(){
        var iosDialog_hint = $('#iosDialog_hint');
        $('#dialog_hint').on('click', '.weui-dialog__btn_default', function(){
            $(this).parents('.js_dialog_hint').fadeOut(200);
            $(this).parents('.js_dialog_hint').attr('aria-hidden','true');
            $(this).parents('.js_dialog_hint').removeAttr('tabindex');
        });
        $('#showIOSDialog_hint').on('click', function(){
            iosDialog_hint.fadeIn(200);
            iosDialog_hint.attr('aria-hidden','false');
            iosDialog_hint.attr('tabindex','0');
            iosDialog_hint.trigger('focus');
        });

        var iosDialog_progress = $('#iosDialog_progress');
        $('#dialog_progress').on('click', '.weui-dialog__btn_default', function(){
            $(this).parents('.js_dialog_progress').fadeOut(200);
            $(this).parents('.js_dialog_progress').attr('aria-hidden','true');
            $(this).parents('.js_dialog_progress').removeAttr('tabindex');
        });
        $('#showIOSDialog_progress').on('click', function(){
            iosDialog_progress.fadeIn(200);
            iosDialog_progress.attr('aria-hidden','false');
            iosDialog_progress.attr('tabindex','0');
            iosDialog_progress.trigger('focus');
        });

        var iosDialog_clear = $('#iosDialog_clear');
        $('#dialog_clear').on('click', '.weui-dialog__btn_default', function(){
            $(this).parents('.js_dialog_clear').fadeOut(200);
            $(this).parents('.js_dialog_clear').attr('aria-hidden','true');
            $(this).parents('.js_dialog_clear').removeAttr('tabindex');
        });
        $('#showClearCode').on('click', function(){
            iosDialog_clear.fadeIn(200);
            iosDialog_clear.attr('aria-hidden','false');
            iosDialog_clear.attr('tabindex','0');
            iosDialog_clear.trigger('focus');
        });

        let iosDialog_go_back = $('#iosDialog_go_back');
        $('#dialog_go_back').on('click', '.weui-dialog__btn_default', function(){
            $(this).parents('.js_dialog_go_back').fadeOut(200);
            $(this).parents('.js_dialog_go_back').attr('aria-hidden','true');
            $(this).parents('.js_dialog_go_back').removeAttr('tabindex');
        });
        $('#dialog_go_back').on('click', '.weui-dialog__btn_primary', function(){
            globalThis.location='/game/?game_name={{cur_game_name}}&app_en_name={{app_en_name}}&cmd=init';
        });
        $('#showGoBack').on('click', function(){
            iosDialog_go_back.fadeIn(200);
            iosDialog_go_back.attr('aria-hidden','false');
            iosDialog_go_back.attr('tabindex','0');
            iosDialog_go_back.trigger('focus');
        });

        let iosDialog_logout = $('#iosDialog_logout');
        $('#dialog_logout').on('click', '.weui-dialog__btn_default', function(){
            $(this).parents('.js_dialog_logout').fadeOut(200);
            $(this).parents('.js_dialog_logout').attr('aria-hidden','true');
            $(this).parents('.js_dialog_logout').removeAttr('tabindex');
        });
        $('#dialog_logout').on('click', '.weui-dialog__btn_primary', function(){
            globalThis.location='/accounts/logout/?next=/game/?app_en_name={{app_en_name}}';
        });
        $('#show_logout').on('click', function(){
            iosDialog_logout.fadeIn(200);
            iosDialog_logout.attr('aria-hidden','false');
            iosDialog_logout.attr('tabindex','0');
            iosDialog_logout.trigger('focus');
        });

        var $input = $('#js_input');
        $input.on('input', function(){
        if ($input.val()){
          $('#btnConfirm').removeClass('weui-btn_disabled');
          $('#btnConfirm').attr('aria-disabled','false');
          $('#btnConfirm').removeAttr('disabled');
        }else{
          $('#btnConfirm').addClass('weui-btn_disabled');
          $('#btnConfirm').addClass('weui-btn_disabled');
          $('#btnConfirm').attr('aria-disabled','true');
          $('#btnConfirm').addAttr('disabled');
        }
        });

        $('#dialog_wrong_answer').on('click', '.weui-dialog__btn_default', function(){
            $(this).parents('.js_dialog_wrong_answer').fadeOut(200);
            $(this).parents('.js_dialog_wrong_answer').attr('aria-hidden','true');
            $(this).parents('.js_dialog_wrong_answer').removeAttr('tabindex');
        });
        $('#btnConfirm').on('click', function(){
            if ($(this).hasClass('weui-btn_disabled')) return;
            var $loadingToast = $('#loadingToast');
            if ($loadingToast.css('display') != 'none') return;
            $loadingToast.fadeIn(100);
            setTimeout(function () {
                $loadingToast.fadeOut(100);
            }, 2000);
            globalThis.location='/game/?game_name={{cur_game_name}}&app_en_name={{app_en_name}}&cmd='+$input.val();

        });
    });

</script>  
<script type="text/javascript" class="actionsheet js_show">
    // ios
    $(function(){
        var $iosActionsheet = $('#iosActionsheet');
        var $iosMask = $('#iosMask');

        function hideActionSheet() {
            $iosActionsheet.removeClass('weui-actionsheet_toggle').attr('aria-hidden','true');
            $iosMask.fadeOut(200);
            $('#showIOSActionSheet').trigger('focus');
        }

        $iosMask.on('click', hideActionSheet);
        $('#iosActionsheetCancel').on('click', hideActionSheet);
        $("#showIOSActionSheet").on("click", function(){
            $iosActionsheet.attr('aria-hidden','false').addClass('weui-actionsheet_toggle');
            $iosMask.fadeIn(200);
            setTimeout(function(){
              $('#current1').trigger('focus');
            },200)
        });
    });

    // android
    $(function(){
        var $androidActionSheet = $('#androidActionsheet');

        $("#showAndroidActionSheet").on('click', function(){
            $androidActionSheet.attr('aria-hidden','false').fadeIn(200);
            setTimeout(function(){
              $('#androidClose').trigger('focus');
            },200)
        });
        $('#androidClose').on('click',function () {
          $androidActionSheet.attr('aria-hidden','true').fadeOut(200);
          $('#showAndroidActionSheet').trigger('focus');
        });

    });</script>
<script src="{% static 'js/zepto.min.js' %}"></script>
<script src="{% static 'js/jweixin-1.4.0.js' %}"></script>
<script src="{% static 'js/weui.min.js' %}"></script>
<script src="{% static 'js/wah.js' %}"></script>

</body>
</html>