<!DOCTYPE html>
{% load static %}
<html lang="zh-cmn-Hans" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover">
    <meta name="wechat-enable-text-zoom-em" content="true">
    <meta name="color-scheme" content="light dark">
    <title>GPT and encryption</title>
    <link rel="stylesheet" href="{% static 'style/weui.css' %}"/>
</head>
<body >
    
    <div id="container">
        <div type="text/html" id="tpl_home">
            <div class="page article">
                <article class="weui-article">
                    <section style="margin-bottom: 8px;">
                        <p style="text-align: center;">
                            <H1>NPC应答测试</H1>
                        </p>
                    </section>
                    <section>
                        {{ reply_obj | safe}}
                    </section>
                    <section id='encrypted_msg'>
                        {{ encrypted_msg }}
                    </section>
                    <section id='tag'>
                        {{ encrypted_tag }}
                    </section>
                </article>
            </div>
            
            <div class="weui-form">
                <form class="weui-cells__group weui-cells__group_form" action="/chat/" method="post" id="form_question" >
                    {% csrf_token %}
                    <input type="hidden" name="character" value="" id="character">
                    <input type="hidden" name="encrypted_key" value="">
                    <input type="hidden" name="encrypted_iv" value="">
                    <div style="display: none;" id="public_key">
                    -----BEGIN PUBLIC KEY-----
                    MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAjAc3qeZQYE7HdHATK5YI
                    iMG/fgHhriyNApm6B/RB6Pn5BlcWQDAYwVXx4CeaQ/xzuzlUmbPzHRe+F01zN6Rk
                    zGiVN/cotQAFzCajwaZc8iiKM1mwuzZbNmPa/+ebdAAsHr6eAXoRTy1aEhOUarzZ
                    Mn2ylGhx1VhZg+ecQkEQafWUwvk/7M+1hfjn3BLdwyJ2O8FIGICY3KnfLd9GOJCq
                    k1n10gBiQYYXrPtvJIljhYYFGpl5hDvm7BH3+wOKsuljsADBJwPF6XQzbMAL1ifw
                    nb06hUElvXtrlRmWxaGWTwIhdrFqCPLiXyUqXN0tFnARNsAL3FmtqpXefBl/GkZg
                    BwIDAQAB
                    -----END PUBLIC KEY-----
                    </div>
                    <div class="weui-cells__group weui-cells__group_form">
                        <div class="weui-cells weui-cells_radio">
                            {% for npc in characters %}
                                <label class="weui-cell weui-cell_active weui-check__label" for="{{npc}}">
                                    <div class="weui-cell__bd">
                                        <p>{{npc}}</p>
                                    </div>
                                    <div class="weui-cell__ft">
                                        
                                        {% if npc == chosen_character %}
                                        <input type="radio" class="weui-check" name="radio1" id="{{npc}}" checked>
                                        {% else %}
                                        <input type="radio" class="weui-check" name="radio1" id="{{npc}}">
                                        {% endif %}
                                        <span class="weui-icon-checked"></span>
                                    </div>
                                </label>
                            {% endfor %}
                            
                        </div>
                    </div>

                    <div class="weui-cells">
                        
                        <label for="question" class="weui-cell weui-cell_active">
                            
                            <div class="weui-cell__bd">
                                
                                    <input id="question" class="weui-input" placeholder="你想问什么问题？" name="question"/>
                                
                            </div>
                        </label>
                        <label for="encrypted_msg" class="weui-cell weui-cell_active">
                            
                            <div class="weui-cell__bd">
                                
                                    <input id="encrypted_msg" class="weui-input" placeholder="Enrypt Message" name="encrypted_msg"/>
                                
                            </div>
                        </label>
                        <br>
                        <hr>
                        <br>
                        <div class="weui-form__opr-area">
                            <a role="button" disabled aria-disabled="true" href="javascript:" id="confirm_button"
                            class="weui-btn weui-btn_primary weui-btn_disabled">确定</a>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="weui-form__opr-area">
                            <a role="button" href="javascript:" id="encrypt_button"
                            class="weui-btn weui-btn_primary">加密发送</a>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="weui-form__opr-area">
                            <a role="button" href="javascript:" id="decrypt_button"
                            class="weui-btn weui-btn_primary">解密</a>
                        </div>  
                </form>
            </div>
            <div class="weui-footer weui-footer_fixed-bottom">
                <p class="weui-footer__text">{{summary|safe}}</p>
            </div>
        </div> 
    </div>

    <script src="{% static 'js/jsencrypt.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" for="encrypt_decrypt">

        var $encrypt_button = document.getElementById('encrypt_button');       
        $encrypt_button.addEventListener('click', encrypt_msg_and_fillform);
        
        var $decrypt_button = document.getElementById('decrypt_button');
        $decrypt_button.addEventListener('click', decrypt_msg);
        
        
    </script>
    <script type="text/javascript" for="ask_question">
        var $input = document.getElementById('question');
        var $button = document.getElementById('confirm_button');
        var $character = document.getElementById('character');
        var $labels = document.querySelectorAll('.weui-check__label');
        const Http = new XMLHttpRequest();

        $button.addEventListener('click', function(){
            var answer = $input.value;
            var checked_span = document.querySelector('.weui-check:checked');
            if (checked_span == undefined){
                alert('请选择NPC');
                return;
            }else{
                var checked_label = checked_span.parentNode.parentNode.querySelector('p').innerText;
                $character.value = checked_label;
            }
            if (answer.length == 0){
                return;
            }else{
                // var url = '/chat/?question='+answer+'&character='+checked_label;
                var my_form = document.getElementById('form_question');
                //my_form.character.value = checked_label;
                //my_form.question.value = answer;
                my_form.submit();
                //alert(url);
                //globalThis.location=url;
                
            };
        });
        $input.addEventListener('input', function(){
            var answer = $input.value;
            if (answer.length == 0){
                $button.setAttribute('disabled', true);
                $button.classList.add('weui-btn_disabled');
                $button.setAttribute('aria-disabled','true');
            }else{
                $button.removeAttribute('disabled');
                $button.classList.remove('weui-btn_disabled');
                $button.setAttribute('aria-disabled','false');
            }; 
        });

    </script>

    <script type="text/javascript" src="{% static 'js/jweixin-1.4.0.js' %}"></script>
    <script src="{% static 'js/weui.min.js' %}"></script>
    <script src="{% static 'js/wah.js' %}"></script>
</body>
</html>